body{
    background: floralwhite;
    background-image: url("images/l.jpg");
    background-repeat: no-repeat, repeat;
     letter-spacing: 3px;
     line-height: 1.8;
    text-shadow: 1px 0px black;
     font-size: 1.275em;

}
.navbar{
    border-radius: 0;
}
.navbar-brand{
    font-family:"Comic Sans MS", cursive, sans-serif;
}
a {
    color: darkred;

}


.mainpictrure{
    width: 200px;
    height: 100px;
    border: 3px solid #73AD21;
}


.panel-body{
    border-radius: 2%;
    background: lightgrey;

}
.infopicture{
    position: absolute;
    max-height: 70%;
    max-width: 60%;
    top : 100px;
    right: 10px;
    float:right;
    display: inline;
}
.form-group{
    border-radius: 2%;
    background: dimgrey;
}

main{
     font-size: 1.375em;
        padding-left: 20px;
font-family:"Trebuchet MS", Helvetica, sans-serif
}